doctype html
html(lang="en")
 head
  title Template made using jade/pug engine
  meta(name="viewport",content="width=device-width,initial-scale=1")
  style(type="text/css").
   h1{
    color:green;
   }
   p{
     color:magenta;
   }
 body
  h1 Pug/Jade template
  p This page is created using pug engine
