.box {
  width: 10px;
  height: 20px;
  background-color: #00ccff;
  animation: mh 1s 1;
}
@keyframes mh {
  from {
    width: 10px;
  }
  to {
    width: 20px;
  }
}
div#commentbox {
  text-align: center;
  width: 10px;
  height: 20px;
  background-color: #00ccff;
  animation: mh 1s 1;
}
/*Nesting*/
#header {
  width: 500px;
  height: 15px;
}
#header .a {
  text-decoration: none;
}
#header #btn {
  width: 10px;
  height: 20px;
  background-color: #00ccff;
  animation: mh 1s 1;
}
