<%- include('../template/header'); -%>
<h1>Express ajax post request</h1>
   <input type="text"name="firstname"placeholder="Enter firstname"id="a"><br/>
 <br/>
<div class="box"></div>
<%- include('../template/footer') -%>

