doctype html
html
 head
  title Express - form post request
  meta(name ="viewport",content ="width =device-width,initial-scale=1")
  link(rel ="stylesheet",href ="../public/stylesheets/style.css")
 body
 
   